body{
    margin: 0;
    padding: 0;
    background-color: #E4e1ee;
    color: black;
    font-feature-settings: "kern";
}

header{
    display: flex;
    justify-content: space-between;
    height: 120px;
    background-color: white;
}

.logo{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    padding-left: 5%;
    position: relative;
}

.mainimage{
    -webkit-mask-image: url('/assets/images/moon50.png');
    mask-image: url('/assets/images/moon50.png');
    mask-repeat: no-repeat;
    height: 50px;
    width: 50px;
}

.menu{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding-right: 5%;
}

nav ul li{
    list-style: none;
}
nav ul{
    display: flex;
    flex-direction: row;
}
nav a{
    display: block;
    padding: 15px;
    text-decoration: none;
    text-transform: uppercase;
    color: #727272;
    border-radius: 10px;
    margin-left: 20px;
    
}
.container{
    width: 990px;
    display: flex;
    justify-content: space-between;
}

.button1{
    width:fit-content;
    height:20px;
    transition: 0.2;
}

.button1:hover{
    color: slateblue;
    width:fit-content;
    height:20px;
    transition: 0.2;
    text-decoration: underline;
}

.imagecontainer {
    display:flex;
    justify-content: center;
    align-items: center;
    object-fit: fill;
}
#radial_center 
{
    display:flex;
    position: relative;
    width:100%;
    height:500px;
    top:0px;
    left:0px;
    filter: saturation(50%);
    background:radial-gradient(circle, #ED87F7, #869FF9);
    justify-content: center;
    align-items: center;
}

#healthy{
    display:flex;
    position:relative;
    width: 75%;
    height: 100%;
    justify-content: space-evenly;
    align-items: center;
    color: snow;
    font-size: 500%;
    flex-direction: row;
    font-family: Georgia, 'Times New Roman', Times, serif
}

.sleepmask{
    display:flex;
    position:relative;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    max-width: 75%;
    max-height: 100%;
    filter: invert(100%);
    object-fit: contain;
}

#sleepy{
    height: auto; 
    width: 45vw; 
    filter: invert(100%);
}

.sleepytext{
    font-size: 5vw;
    flex-direction: row;
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin: 2%;
    text-align: center;
    color:white;
}

.mainTextContainer
{
    display: flex;
    flex-direction: column;
    width: 45%;
}

@media screen and (max-width: 600px) {
    #healthy{
        display:flex;
        flex-direction: column;
        position:relative;
        width: 75%;
        height: 100%;
        justify-content: center;
        align-items: center;
    }

    #sleepy{
        height: auto; 
        width: 50vw; 
        filter: invert(100%);
        margin: 2vh;
    }

    .mainTextContainer
    {
        display: flex;
        flex-direction: column;
        width: 80vw;
    }

    .sleepytext{
        font-size: 8vw;
        flex-direction: row;
        font-family: Georgia, 'Times New Roman', Times, serif;
        margin: 2vh;
        text-align: center;
        color:white;
    }
  }

.SleepWell{
    padding-bottom: 0.5%;
    background: -webkit-linear-gradient(#dda4f5,#fcb686);
    -webkit-background-clip:text;
    -webkit-text-fill-color:transparent
}

main {
padding:0;
width:100%;
}