body{
    margin: 0;
    padding: 0;
    background-color: #E4e1ee;
    color: black;
    font-feature-settings: "kern";
    text-align: center; 
}

#page2{
    background-color: white;
    padding:0%;
    text-align:justify;
}

header{
    display: flex;
    justify-content: space-between;
    height: 120px;
    background-color:white;
}

.logo{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    padding-left: 5%;
    position: relative;
}

.mainimage{
    -webkit-mask-image: url('/assets/images/moon50.png');
    mask-image: url('/assets/images/moon50.png');
    mask-repeat: no-repeat;
    height: 50px;
    width: 50px;
}

.menu{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding-right: 5%;
}

nav ul li{
    list-style: none;
    overflow: hidden  ;
}
nav ul{
    display: flex;
    flex-direction: row;
}
nav a{
    display: block;
    padding: 15px;
    text-decoration: none;
    text-transform: uppercase;
    color: #727272;
    margin-left: 20px;
    
}
.container{
    max-width: 50vw;
    display: flex;
    justify-content: space-between;
}

.button1{
    width:fit-content;
    height:20px;
    transition: 0.2;
}

.button1:hover{
    color: plum;
    width:fit-content;
    height:20px;
    transition: 0.2;
    text-decoration:none;
}

.imagecontainer {
    display:flex;
    justify-content: center;
    align-items: center;
    object-fit: fill;
}
#radial_center 
{
    display:flex;
    position: relative;
    width:100%;
    height:500px;
    top:0px;
    left:0px;
    filter: saturation(50%);
    background:radial-gradient(circle, #ED87F7, #869FF9);
    justify-content: center;
    align-items: center;
    box-shadow:5px 2px 10px 0 rgba(101, 63, 127, 0.8);
}

#healthy{
    display:flex;
    position:relative;
    width: 75%;
    height: 100%;
    justify-content: space-evenly;
    align-items: center;
    color: snow;
    font-size: 500%;
    flex-direction: row;
    font-family: Georgia, 'Times New Roman', Times, serif
}

.sleepmask{
    display:flex;
    position:relative;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    max-width: 75%;
    max-height: 100%;
    filter: invert(100%);
    object-fit: contain;
}

#sleepy{
    height: auto; 
    width: 45vw; 
    filter: invert(100%);
}

.sleepytext{
    font-size: 5vw;
    flex-direction: row;
    font-family:'Exo 2', sans-serif;
    margin: 2%;
    text-align: center;
    color:white;
}

.mainTextContainer
{
    display: flex;
    flex-direction: column;
    width: 45%;
}


.SleepWell{
    padding-bottom: 0.5%;
    background: linear-gradient(.25turn, #dc6ee7, 40%, rgb(243, 179, 75));
    -webkit-background-clip: text;
    -webkit-text-fill-color:transparent;
}

#logoid{
    text-decoration: none;
    padding:0;
    max-width: 50vw;
    display: flex;
    justify-content: space-between;
    padding-left:2.5%;
}

main {
padding:0;
width:100%;
}

.bodycontainer1{
    margin: 5vw;
    margin-top: 5%; 
    text-align:center; 
    position:relative;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    object-fit: contain;
}

.bodycontainer2{
    text-align:justify; 
    font-size:1.6vmax;
    flex-direction: row;
    align-items: center;
    position:relative;
    color:darkslategrey;
}

.bodytext1 { 
    text-align:justify; 
    font-size:1.6vmax;
    flex-direction: row;
    align-items: center;
    position:relative;
    color:darkslategrey;
  } 
  
.sleepimg{
    display: flex;
    align-content: flex-start;
    float: left;
    margin-right: 3.5%;  
    border-radius: 50%; 
    shape-outside: circle(); 
    padding: 1.8vw;
    height: auto; 
    width: 20vw; 
    padding:1.5vh;
}

b{
    color:#8258b2
}

#sleepimg3{
    display: flex;
    align-content: flex-start;
    float: right; 
    margin-left: 3.5%; 
    shape-outside: circle(); 
    border-radius: 50%; 
    padding: 1.8vw;
    height: auto; 
    width: 20vw; 
}

.subheading{
    display:block;
    height:4vh;
    background-color:#c8b5eb;
}

.sub-title{
    padding-left:2%;
    margin:0% 0% 0% 0%;
    display:flex;
    object-fit:contain;
    background-color:white;
    color:#c1acdb;
}
.sub-title h1{
    padding-right:5%;
    font-size:3vw;
    display:flex;
}

section{
    background-color: #eeedf2;
    object-fit:contain;
    padding:2%;
    display:flex;
}

section p{
font-size: 135%;
margin-left:3%;
margin-right:3%;
margin-top:0%;
margin-bottom:0%;
color:#514f54;
}

section a
{
align-items:flex-end;
padding-left:2.8%;
display:flex;
object-fit:fill;
}

.boogaloo{
}

.suiiii{
display: flex;
justify-content: flex-start;
align-items: flex-start;
height: fit-content;
float: left;
padding-right: 20px;
}

.static{
    position:absolute;
    margin-right: 3.5%;  
    padding:0;
    height: 32vh; 
    width: auto; 
    padding:0;
    }
    .static:hover{
    opacity:0;
    cursor:pointer;
    }
    .active{
    margin-right: 3.5%;  
    padding:0;
    height: 32vh; 
    width: auto; 
    padding:0;
}

.textboxinf{
    display:flex;
    margin:0;
    text-align:justify; 
    font-size:1.5vmax;
    flex-direction: row;
    align-items: center;
    position:relative;
    color:#444444;
    padding-bottom: 2vh;
    padding: 1.5vw;
}

    .parabreak{
        color:#8258b2;
        font-size:200%
     }
     
     .info-p{
         padding-left:5%;
         padding-right:5%;
         font-weight:800;
       }
     

.breadcrumb{
        margin:0;
        padding-top: 0.5vh;
        padding-bottom: 0.5vh;
        list-style: none;
        background-color:#eeedf2;
        text-align:start;
        }
        
      .breadcrumbItem{
        display:inline-flex;
        font-size: 1vw;
        }

        .breadcrumb li+li :before{
            padding: 1vw;
            color: 	#9590c5;
            content: "/";
          }
          .breadcrumbItem a{
            color: #9590c5;
            text-decoration: none;
            size:1vw;
          }
          
          .breadcrumbItem a:hover{
            color: purple;
          }

@media screen and (max-width: 900px) {
    header{
        display: flex;
        flex-direction:column;
        align-items: center;
        max-height: 150px;
        margin:0;
        padding:0;
        padding-bottom: 2dvh;
    }
    nav a {
        padding-left: 2vw;
        padding-right: 2vw;
        margin-left:0px;
    }
    .button1{
        font-size: 1.5vw;
        padding-top: 0;
    }
    .bodytext1 { 
        text-align:justify; 
        font-size: small;
        flex-direction: row;
        align-items: center;
        position:relative;
        color:darkslategrey
      } 
      
    .bodycontainer{
        font-size:small
    }
    .parabreak{
        font-size:125%;
     }
     section{
        display: flex;
        align-items: center;
        margin:0;
        padding:0;
        padding-bottom: 2dvh;
     }
  }

  @media screen and (max-width: 600px) {
    #healthy{
        display:flex;
        flex-direction: column;
        position:relative;
        width: 75%;
        height: 100%;
        justify-content: center;
        align-items: center;
    }

    #sleepy{
        height: auto; 
        width: 50vw; 
        filter: invert(100%);
        margin: 2vh;
    }

    .mainTextContainer{
        display: flex;
        flex-direction: column;
        width: 80vw;
    }

    .sleepytext{
        font-size: 8vw;
        flex-direction: row;
        font-family: Georgia, 'Times New Roman', Times, serif;
        margin: 2vh;
        text-align: center;
        color:white;
    }
    .button1{
        font-size: 2vw;
        padding-top: 0;
    }
    .logo {
        padding-left: 0%;
    }
  }

